SUPABASE_URL=https://ehncmrdemhutkvbpdfqd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
LEADLOVERS_WEBHOOK_URL_EMAIL=
LEADLOVERS_WEBHOOK_URL_WHATSAPP=
LEADLOVERS_MACHINE_CODE_EMAIL=
LEADLOVERS_MACHINE_CODE_WHATSAPP=
LEADLOVERS_SEQUENCE_LEVEL_CODE_EMAIL=
LEADLOVERS_SEQUENCE_LEVEL_CODE_WHATSAPP=
LEADLOVERS_EMAIL_SEQUENCE_CODE=
